* {
    padding: 0;
    margin: 0;
}
body {
    background: aliceblue;
    color: blueviolet;
}
.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}
.postConteiner {
    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 20px;
}
.postDiv {
    width: 20%;
}
.commentsBox {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;
    padding-top: 20px;

}
.comment {
    width: 20%;
    border: solid 2px blueviolet;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    color: blueviolet;
    row-gap: 5px;
    font-size: 20px;
    transition: 0.5s;
}
.comment:hover {
    background: dodgerblue;
    transition: 0.5s;
    color: white;
}