* {
    padding: 0;
    margin: 0;
}
body {
    background: aliceblue;
}
.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 20px;
    color: blueviolet;
    padding-top: 20px;
}
.btn {
    width: 90%;
    background: blueviolet;
    border-radius: 20px;
    height: 40px;
    color: aliceblue;
    cursor: pointer;
    border: solid 2px blueviolet;
    transition: 0.5s;
}
.btn:hover {
    border: 2px solid white;
    transition: 0.5s;
}
.conteinerBoxs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    row-gap: 30px;
    color: blueviolet;
    font-size: 20px;
    border: solid 2px blueviolet;
    border-radius: 10px;
    padding: 20px 0;
}
.box {
    width: 21%;
}
.paddingBot {
    padding-bottom: 5px;
}
.postsConteiner {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}
.postBox {
    width: 15%;
    border: solid 2px blueviolet;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px;
    color: blueviolet;
    transition: 0.5s;
    font-size: 18px;
}
.postBox:hover {
    background: dodgerblue;
    transition: 0.5s;
    color: white;
}
.postBtn {
    width: 100px;
    height: 30px;
    border: solid 2px blueviolet;
    background: blueviolet;
    border-radius: 20px;
    color: aliceblue;
    margin-top: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.postBtn:hover {
    border: 2px solid white;
    transition: 0.5s;
}
.postsConteinerNone {
    display: none;
}